.row-alert{
    display: flex;
    padding: 2rem;
    text-align: center;
    justify-content: center;
}

.no-products-alert{
    width: 80% 
}

.inline {
    display: flex;
}

.inline-came-back-link {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.inline-end {
    display: flex;
    justify-content: flex-end;
}

.delete-all-button {
    margin-top: 1rem;
    line-height: 1.25;
    margin-bottom: 1rem;
    font-weight: 500;
}

.card-total {
    text-align: center;
    justify-content: center;
}

.card-form-buyer {
    text-align: left;
    justify-content: center;
}

.card-total, .card-form-buyer {
    background-color: aliceblue;
    padding: 1rem;
    margin: 2rem;
}