.cart-item-card {
    background-color: aliceblue;
    margin: 2rem;
}

.cart-item-line{
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.remove-button{
    cursor: pointer;
    color: orangered;
}